In [7]:
from src.etl import get_file_path, load_transactions, clean_currency_columns

path = get_file_path()

df = load_transactions(path)

df.head()

,ID,Timestamp,Transaction Type,Asset,Quantity Transacted,Price Currency,Price at Transaction,Subtotal,Total (inclusive of fees and/or spread),Fees and/or Spread,Notes
0,68c700e355b2d8098f98dbf2,2025-09-14 17:52:35 UTC,Staking Income,ETH,0.000001,PLN,zł16728.6990535592701315065337825,zł0.01978,zł0.01978,zł0.00,NaN
1,68c540ad0fbb7d9c04f33420,2025-09-13 10:00:13 UTC,Staking Income,MATIC,0.124783,PLN,zł1.023734828938927071497094725,zł0.12774,zł0.18077,zł0.053023496254588420953353937,NaN
2,68c3231492c8e85f5d7b5b58,2025-09-11 19:29:24 UTC,Staking Income,ETH,0.000004,PLN,zł16036.78199553930357654639381,zł0.06307,zł0.06307,zł0.00,NaN
3,68bf257e8991a802b518864f,2025-09-08 18:50:38 UTC,Staking Income,ETH,0.000004,PLN,zł15649.24884284174051128484748,zł0.06632,zł0.06632,zł0.00,NaN
4,68bea7eea34bc3abc6f20afe,2025-09-08 09:54:54 UTC,Staking Income,MATIC,0.174778,PLN,zł1.01113716755783026303774194,zł0.17672,zł0.25006,zł0.073331348585128168489604104,NaN

In [8]:
df.columns

Index(['ID', 'Timestamp', 'Transaction Type', 'Asset', 'Quantity Transacted',
       'Price Currency', 'Price at Transaction', 'Subtotal',
       'Total (inclusive of fees and/or spread)', 'Fees and/or Spread',
       'Notes'],
      dtype='object')

In [9]:
columns = ['Price at Transaction', 'Subtotal', 'Total (inclusive of fees and/or spread)', 'Fees and/or Spread']

df_clean = clean_currency_columns(df=df, col_names=columns)

In [10]:
df_clean.head()

,ID,Timestamp,Transaction Type,Asset,Quantity Transacted,Price Currency,Price at Transaction,Subtotal,Total (inclusive of fees and/or spread),Fees and/or Spread,Notes,Price at Transaction_clean,Subtotal_clean,Total (inclusive of fees and/or spread)_clean,Fees and/or Spread_clean
0,68c700e355b2d8098f98dbf2,2025-09-14 17:52:35 UTC,Staking Income,ETH,0.000001,PLN,zł16728.6990535592701315065337825,zł0.01978,zł0.01978,zł0.00,NaN,16728.699054,0.01978,0.01978,0.000000
1,68c540ad0fbb7d9c04f33420,2025-09-13 10:00:13 UTC,Staking Income,MATIC,0.124783,PLN,zł1.023734828938927071497094725,zł0.12774,zł0.18077,zł0.053023496254588420953353937,NaN,1.023735,0.12774,0.18077,0.053023
2,68c3231492c8e85f5d7b5b58,2025-09-11 19:29:24 UTC,Staking Income,ETH,0.000004,PLN,zł16036.78199553930357654639381,zł0.06307,zł0.06307,zł0.00,NaN,16036.781996,0.06307,0.06307,0.000000
3,68bf257e8991a802b518864f,2025-09-08 18:50:38 UTC,Staking Income,ETH,0.000004,PLN,zł15649.24884284174051128484748,zł0.06632,zł0.06632,zł0.00,NaN,15649.248843,0.06632,0.06632,0.000000
4,68bea7eea34bc3abc6f20afe,2025-09-08 09:54:54 UTC,Staking Income,MATIC,0.174778,PLN,zł1.01113716755783026303774194,zł0.17672,zł0.25006,zł0.073331348585128168489604104,NaN,1.011137,0.17672,0.25006,0.073331

In [11]:
from src.etl import get_file_path, load_transactions, clean_currency_columns

# 1. znajdź plik
path = get_file_path()

# 2. wczytaj transakcje
df = load_transactions(path)

# 3. wyczyść kolumny pieniężne
currency_cols = ['Price at Transaction', 'Subtotal', 
                 'Total (inclusive of fees and/or spread)', 
                 'Fees and/or Spread']
df_clean = clean_currency_columns(df, currency_cols)

# 4. podejrzyj efekt
df_clean.head()

,ID,Timestamp,Transaction Type,Asset,Quantity Transacted,Price Currency,Price at Transaction,Subtotal,Total (inclusive of fees and/or spread),Fees and/or Spread,Notes,Price at Transaction_clean,Subtotal_clean,Total (inclusive of fees and/or spread)_clean,Fees and/or Spread_clean
0,68c700e355b2d8098f98dbf2,2025-09-14 17:52:35 UTC,Staking Income,ETH,0.000001,PLN,zł16728.6990535592701315065337825,zł0.01978,zł0.01978,zł0.00,NaN,16728.699054,0.01978,0.01978,0.000000
1,68c540ad0fbb7d9c04f33420,2025-09-13 10:00:13 UTC,Staking Income,MATIC,0.124783,PLN,zł1.023734828938927071497094725,zł0.12774,zł0.18077,zł0.053023496254588420953353937,NaN,1.023735,0.12774,0.18077,0.053023
2,68c3231492c8e85f5d7b5b58,2025-09-11 19:29:24 UTC,Staking Income,ETH,0.000004,PLN,zł16036.78199553930357654639381,zł0.06307,zł0.06307,zł0.00,NaN,16036.781996,0.06307,0.06307,0.000000
3,68bf257e8991a802b518864f,2025-09-08 18:50:38 UTC,Staking Income,ETH,0.000004,PLN,zł15649.24884284174051128484748,zł0.06632,zł0.06632,zł0.00,NaN,15649.248843,0.06632,0.06632,0.000000
4,68bea7eea34bc3abc6f20afe,2025-09-08 09:54:54 UTC,Staking Income,MATIC,0.174778,PLN,zł1.01113716755783026303774194,zł0.17672,zł0.25006,zł0.073331348585128168489604104,NaN,1.011137,0.17672,0.25006,0.073331

In [14]:
df_clean["Transaction Type"].unique()

array(['Staking Income', 'Withdrawal', 'Sell', 'Receive',
       'Learning Reward', 'Retail Staking Transfer', 'Convert', 'Buy',
       'Retail Eth2 Deprecation', 'Send', 'Reward Income'], dtype=object)